<div id="bgGrad">

<nav id="navSend" class="navbar navbar-expand-lg navbar-light">
  <a href="/dashboard"> <img src="assets/css/images/logo_safetypin_white.svg" id="companyLogo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbarLinks">
      <li class="nav-item">
    <a href="" class="dashboardLinkSend">Calendar</a>
      </li>
      <li class="nav-item">
    <a href="" class="dashboardLinkSend">Profile</a>
      </li>
      <li class="nav-item">
    <a href="" class="dashboardLinkSend">Settings</a>
      </li>
      <li class="nav-item">
    <a href="/signIn" class="dashboardLinkSend">Logout</a>
      </li>
    <li>
      <img src="assets/css/images/mrGardner.jpg" class="dashboardLinkImg">
    </li>
    <!-- id="teacherPicture" -->
    </ul>
    
  </div>
</nav>

<h2 id="sendInst">Select form below to send to parents:</h2>
<hr style="margin: 20px 40px;">

<div class="row">
  <div class="col-10  col-sm-4 col-md-3 col-lg-3" id="formList">
    <div class="thumbnail">
      <img class="imgsend" src="assets/css/images/lagoon.jpg" alt="...">
      <div class="caption">
        <div class="title">
            <h3 id="formTitle">Lagoon Day</h3>
        </div>
        <p class="sendP"><a href="#" class="btn btn-2" role="button">Send</a></p>
      </div>
    </div>
  </div>
  <div class="col-10  col-sm-4 col-md-3 col-lg-3" id="formList">
    <div class="thumbnail">
      <img class="imgsend" src="assets/css/images/reading.jpg" alt="...">
      <div class="caption">
        <div class="title">
            <h3 id="formTitle">Reading Chart</h3>
        </div>
        <p class="sendP"><a href="#" class="btn btn-2" role="button">Send</a></p>
      </div>
    </div>
  </div>
  <div class="col-10  col-sm-4 col-md-3 col-lg-3" id="formList">
    <div class="thumbnail">
      <img class="imgsend" src="assets/css/images/reading.jpg" alt="...">
      <div class="caption">
          <div class="title">
            <h3 id="formTitle">Report Card</h3>
        </div>
        <p class="sendP"><a href="#" class="btn btn-2" role="button">Send</a></p>
      </div>
    </div>
  </div>
</div>


<div class="classroomGIF"></div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Support Guru</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <form>
      <div>
        <img src="assets/css/images/JSONross.jpg" id="supportImg" alt="">
        <img src="assets/css/images/polly.gif" id="polly" alt="">
      </div>
      <hr>
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">From:</label> -->
        <input type="email" class="form-control" id="parentName" aria-describedby="emailHelp" placeholder="Email Address">
      </div>
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Subject:</label> -->
        <input type="text" class="form-control" id="parentEmail" aria-describedby="emailHelp" placeholder="Subject">
      </div>
      <div class="form-group">
        <!-- <label for="comment">Comment:</label> -->
        <textarea class="form-control" rows="5" id="comment" placeholder="Type message here..."></textarea>
      </div>  
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="addParent">Send</button>
        <!-- <button type="button" class="removeParent">REMOVE</button> -->
      </div>
    </div>
  </div>
</div>

<footer class="footer-distributed" style="bottom: 2px;
    position: relative;
    padding: 25px 50px;
    text-align: center;">

  <div class="footer-center" style="width:50%;">


    <p class="footer-links">
      
      <a style="color: #c7c7c7;" href="" class="footer-company-name">Safetypin &copy; 2017</a>
      ·
      <a style="color: #c7c7c7;" href="">Home</a>
      ·
      <a style="color: #c7c7c7;" href="">Blog</a>
      ·
      <a style="color: #c7c7c7;" href="">Pricing</a>
      ·
      <a style="color: #c7c7c7;" href="">About</a>
      ·
      <a style="color: #c7c7c7;" href="">Faq</a>
      ·
      <a style="color: #c7c7c7;" href="" data-toggle="modal" data-target=".bd-example-modal-lg">Support</a>
    </p>
  </div>
</footer>


</div>