	<nav class="navbar bgMain navborder">
			<img src="logo_bobcat.jpg" id="logo">
			<a class="navbar-brand headercolor" href="#">River Rock Elementary</a>
			<div class="navbarLinks">
				<ul>
					<li>
						<a href="" class="headerLink">Settings</a>
					</li>
					<li>
						<a href="" class="headerLink">Settings</a>
					</li>					
					<li>
						<a href="" class="headerLink">Settings</a>
					</li>					
					<li>
						<a href="" class="headerLink">Mr. Gardner</a>
					</li>

				</ul>
				<!-- <a href="" class="headerLink">Mr. Gardner</a> -->

				<!-- <h5>Mr. Gardner</h5> -->
				<img src="mrGardner.jpg" id="teacherPicture">
			</div>
		</nav>

<div class="container">
	<div class="row d-flex justify-content-center mt-3 ">
		<div class="col-lg-6 card-body loginBorder">
			<br>
			<h2>Sign Into Your Account</h2>
			<br>
			<form>
				<div class="form-group">
					<label for="inputEmail">Email Address</label>
					<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter your Email">
				</div>

				<div class="form-group">
    				<label for="inputPassword">Password</label>
    				<input type="password" class="form-control" id="inputPassword" placeholder="Password">
 				 </div>
 				 <button type="submit" class="btn btn-dark">Submit</button>
 			</form>
		</div>
	</div>
</div>