<nav class="navbar bgMain navborder">
	<img src="assets/css/images/logo_safetypin.svg" id="companyLogo">
	<div class="navbarLinks">
		<ul>
			<li>
				<a href="" class="headerLink">Features</a>
			</li>
			<li>
				<a href="" class="headerLink">About</a>
			</li>					
			<li>
				<a href="" class="headerLink">News</a>
			</li>	
			<li>
				<a href="" class="headerLink"><strong>SIGN UP</strong></a>
			</li>					
		</ul>
	</div>
</nav>


<form class="">
	<div class="loginSvg"></div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> Remember Me
	    </label>
	  </div>
	    <a href="/dashboard" class="btn btn-2">Sign In</a>
</form>

<div class="loginIcons">
	<img class="schoolIcons" src="assets/css/images/schoolIcons.svg" alt="">
</div>