
a img {
    /* border: 1px solid red; */
    padding: 30px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.57);

}

a img:hover {
    /*border: 1px solid red;*/
    padding: 30px;
    margin: 20px;
    /*box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.4);*/
}

a {
    text-align: center;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}


h1 {
    font-family: 'Nunito Sans', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333333;*/
    /*padding-right: 50px;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

.navbar #schoolLogo, .navbar #companyLogo {
    height: 60px; 
    width: auto;
    display: inline-block;
    margin-left: 2%;
    /*padding:0px;*/
}

.navbar a #companyLogo {
    height: 60px; 
    width: auto;
    display: inline-block;
    margin-left: 9%;
    padding: 0px;
    background-color: transparent;
}

div #schoolLogo {
    height: 140px;
    width: auto;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.3);
    background-color: rgba(255, 255, 255, 0.81);
}

.modal-footer button {
  margin-bottom: 0px;
  width: 100%;
  background-color: green;
  border-radius: 0px;
  border: 0px;
}

.modal-header {
  background-color: #f7f7f7;
}

.form-control:focus {
    color: #495057;
    background-color: white;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0px 0px 15px #3889a5;
}

.navborder {
    /*border-bottom: 1px solid #e8e8e8;*/
    /*box-shadow: 0px 1px 10px rgba(0,0,0,.2);*/
}

#links-landing {
  text-align: center;
  position: relative;
    top: 470px;
}

.navbar {
    height: 80px;
    /*justify-content: inherit;*/
    position: sticky;
    /*width: 100%;*/
    /*opacity: .9;*/
    top: 0px;
    z-index: 1001;
    /*background-color: rgba(0,0,0,.1);*/
}

#navSign {
    height: 80px;
    /*justify-content: inherit;*/
    position: sticky;
    /*width: 100%;*/
    /*opacity: .9;*/
    top: 0px;
    z-index: 1001;
  background-color: rgba(255, 255, 255, .9);
}

#navSend {
    background-color: rgb(117, 203, 224);
    margin-bottom: 90px;
}

#sendInst {
  font-weight: 700;
    color: white;
}

.active {
  background-color: red;
}

.navbar-brand {
    padding-left: 20px;
}

.bg-light {
    background-color: rgba(0,0,0,.1);
}

ul li #teacherPicture {
    height: 30px;
    width: auto;
    float: right;
    position: fixed;
    right: 2vw;
    top: 23px;
    border-radius: 20px;
}

.navbarLinks {
    display: inline-flex;
    right: 6vw;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;

}

.dashboardLinkSend {
  color: white;
}

.show .navbarLinks {
display: inline-grid;
    right: 6vw;
    position: absolute;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.77);
    padding: 40px;
    text-align: center;
    top: 73%;
    /* float: right; */
    right: 2%;
}

.headerLink {
    /*padding: 0px 10px;*/
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
}

.headerLink:hover {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    background-color: rgba(232, 232, 232, 0.28);
    border-bottom: 0px;
    text-decoration-line: none;
}

.dashboardLink {
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100

}

.dashboardLinkImg {
    height: 60px;
    width: auto;
    border-radius: 100px;
}

.dashboardLink:hover {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.28);
    border-bottom: 0px;
    text-decoration-line: none;
}

.landingInstructions {
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    opacity: .2;
    font-weight: 900;
}



.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
    color: rgb(64, 109, 153);
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(64, 109, 153,0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #406D99;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
  color: rgb(64, 109, 153);
}



@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

/*//colors*/
$red: #E1332D;
$white: #fff;

/*//base styles*/

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  background: $red;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*overflow: hidden;*/
}

.buttons {
  display: table;
  height: 100%;
  width: 100%;
}

.container { 
  display: table-cell;
  padding: 1em;
  text-align: center; 
  vertical-align: middle;
}

h1 {
  color: black;
  font-size: 1.25em;
  font-weight: 900;
  margin: 0 0 2em;
  
  @media (min-width: 450px) {
    font-size: 1.75em;
  }
  
  @media (min-width: 760px) {
    font-size: 3.25em;
  }
  
  @media (min-width: 900px) {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}

p {
  color: white;
  font-size: 12px;
  
  @media(min-width: 600px) {
    left: 50%;
    position: absolute; 
    transform: translate(-50%, 0);
    top: 90%;
  }
  
  @media(max-height: 500px) {
    left: 0;
    position: relative;
    top: 0;
    transform: translate(0, 0);
  }
  
  a {
    background: rgba($white, 0);
    border-bottom: 1px solid;
    color: $white;
    line-height: 1.4;
    padding: .25em;
    text-decoration: none;
    
    &:hover {
      background: rgba($white, 1);
      color: $red;
    }
  }
}
/*//button styles*/

.col-lg-3 ul li a, .col-md-3 ul li a, .col-sm-6 ul li a {
  float: none;
  color: white;
}


.col-lg-3 ul li, .col-md-3 ul li, .col-sm-6 ul li {
  float: none;
}




/*//default button*/
.btn {
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  /*margin: 0 auto 2em;*/
  /*max-width: 160px; */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%; 
  font-family: 'Nunito Sans', sans-serif;

  
  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;
  
    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

.btn:focus {
    box-shadow: none;
    color: green;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f7f7f7;
    background-image: none;
    border: none;
     border-radius: 0px; 
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
     box-shadow: none; 
    /* -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s; */
    /*-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}



form {
    width: 30vw;
    /* margin-left: 25%; */
    /* margin-top: 30px; */
    margin: 30px auto;
    min-width: 300px;
    position: relative;
    width: 90%;
}

.formLogin {
    width: 40%;
    /* margin-left: 25%; */
    /* margin-top: 30px; */
    margin: 30px auto;
    min-width: 300px;  
}

form .form-control {
  width: 100%;
}

.login {
    color: black;
    font-size: 30px;
    font-weight: 900;
    /* margin: 0 0 2em; */
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
    text-align: center;
}

.loginIcons {
  overflow: hidden;
}

.loginIcons .schoolIcons {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.dashboardImg {
  background: url("images/chalkboard.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  
}


.formLogin .loginSvg .btn {
   max-width: 160px;
}

.loginSvg {
  background: url("images/login.svg") center center no-repeat;
  height: 220px;
  opacity: .8;
}

.schoolName {
  margin: 0px auto;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 900;
}

div .schoolName {
    text-align: center;
    display: block;
    font-size: 80px;
    margin: 0px auto;
    color: white;
    font-weight: 900;
    position: relative;
    top: 220px;
}

hr {
  border-bottom: 1px solid rgba(0,0,0,.1);
  margin: 20px 0px;
}

.jumbotron {
  margin-bottom: 0px;
  border-radius: 0px;
  background: url("images/RiverRockBobcat.mp4") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    top: 0px;
    position: absolute;
    z-index: 10;
}

.schoolProfile{  
  background: url("images/RiverRockBobcat.mp4") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.schoolYard {
    background: url(images/schoolYard.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    bottom: -418px;
    position: relative;
    z-index: -1;

}

.classroomGIF {
    background: url(images/learn.png) center center no-repeat;
    background-size: cover;
    width: 710px;
    margin: 0px auto;
    height: 500px;
    bottom: -75px;
    position: relative;
    /*z-index: -1;*/
}

#bgGrad {
    background-image: linear-gradient(-180deg, rgba(0, 188, 212, 0.72) 0%, rgba(156, 39, 176, 0.47) 100%);
    /*opacity: 1.6;*/
  }

#bgDash {
background-image: linear-gradient(-180deg, #3f65b5 0%, rgba(209, 229, 255, 0.17) 100%);
    z-index: -10;
}

/* Rectangle 3: */

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
    padding: 20px;
}

a .formOptions:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.58);
    background-color: white;
    transform: scale3d(1.01, 1.01, 1.01);
}

button .btn-outline-dark:hover {
  background-color: white;
  color: black;
}

.form-row {
    width: 45vw;
    margin: 30px auto;
    min-width: 300px;
}

video {
    width: 100%;
    object-fit: fill;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -3;
    overflow: hidden;
    height: 500px;
}

.schoolSlogan {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 34px;
    text-align: center;
    color: white;
    font-weight: 100;
    position: relative;
    vertical-align: center;
    top: 240px;
}


.modal-dialog .modal-content .modalfooter .btn {
  margin-bottom: 0px;
}

.modal-body form .form-group div {
  margin-bottom: 10px;
}

.modal-body {
  padding: 0px;
}

.modal-footer {
  padding: 0px;
  margin: 0px;
}

.modal-footer .removeParent, .modal-footer .addParent {
  margin: 0px;
}

.modal-footer .addParent {
  background-color: rgb(153, 204, 51);
  padding: 20px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  color: white;
}

.modal-footer .addParent:hover {
  background-color: rgba(153, 204, 51,.5);
  padding: 20px;
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: black;
  cursor: pointer;
}

.modal-footer .removeParent {
  background-color: rgb(134, 4, 4);
  padding: 20px;
  width: 100%;
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

.modal-footer .removeParent:hover {
  background-color: rgba(134, 4, 4, .5);
  padding: 20px;
  width: 100%;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.modal-content {
  border-radius: 0px;
}

input, label, .form-group, .modal-title {
  font-family: 'Nunito Sans', sans-serif;

}

.modal-title {
    margin: 0px auto;
    font-weight: 600;
    font-size: 26px;
}

.checkbox label {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
}

.close {
  cursor: pointer;
}










/*footer {
    background-color: #3b3d4c;
    position: relative;
    top: -65px;
}*/

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  /*margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}










@media screen and (max-width: 960px) {
  .formLogin {
     width: 50%;
     margin: 0px auto;
  }
  div .schoolName {
    text-align: center;
    display: block;
    font-size: 50px;
    margin: 0px auto;
    color: white;
    font-weight: 900;
    position: relative;
    top: 220px;
  }
}

@media screen and (max-width: 645px) {
  .formLogin {
     width: 60%;
     margin: 0px auto;
  }
  div .schoolName {
      text-align: center;
      display: block;
      font-size: 40px;
      margin: 0px auto;
      color: white;
      font-weight: 900;
      position: relative;
      top: 220px;
  }
}

@media screen and (max-width: 535px) {
  .formLogin {
     width: 80%;
     margin: 0px auto;
  }
  div .schoolName {
      text-align: center;
      display: block;
      font-size: 40px;
      margin: 0px auto;
      color: white;
      font-weight: 900;
      position: relative;
      top: 220px;
  }
}




:focus {
    outline: none;
    outline-color: transparent;
    outline-style: auto;
    outline-width: 0px;
}

.navbar-toggler {
      background-color: rgba(255, 255, 255, 0.43);
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
}

.navbar-toggler:hover {
  background-color: white;
}

#supportImg {
  width: 100%;
  /*position: absolute;*/
  height: auto;
}

#polly {
  height: 180px;
    position: absolute;
    top: 2%;
    left: 18%;
}

#comment {
  height: 75px;
}



/*----------------Send Page CSS ----------------------------*/
.lagoon {
  border-radius: 15%;
  border-color: gray;
  border: solid 1px;
  width: auto;
  height: 200px;
}
.reading {
  border-radius: 15%;
  border-color: gray;
  border: solid 1px;
  width: auto;
  height: 200px;
}
.img-responsive {
  margin:0 auto;
}
.imgsend {
    width: 80%;
    height: auto;
    margin: 0px 10%;
}
.sendP{
    width: 50%;
    height: 65px;
    /* display: inline-block; */
    margin: 0px 25%;
    font-family: 'Nunito Sans', sans-serif;
}
.row .thumbnail .btn {
  color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 50px; 
    margin: 0 auto 2em;
    /* max-width: 160px; */
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.schoolYardSend {
    background: url(images/schoolYard.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    bottom: -150px;
    position: relative;
    z-index: -1;
  }
.title {
    margin-top: 40px;
    margin-bottom: 20px;
    /* display: inline-block; */
    text-align: center;
        font-family: 'Nunito Sans', sans-serif;

}

.caption {

}

@media (min-width: 768px)
_grid.scss:42
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    border: 1px solid gray;
    margin: 20px auto;
    background: rgb(255, 255, 255);
}

#formList {
  border: 1px solid #dcdcdc;
  margin: 10px auto;
  padding: 6px;
  border-radius: 0px;
  background-color: white;
}

#formList:hover {
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 15px rgba(0,0,0,.3);
    transform: scale3d(1.01, 1.01, 1.01);
}

#formTitle {
  font-weight: 100;
}


}

/*------------------end of Sendpage CSS-------------*/






